<Context debug="0" crossContext="true"
    docBase="/usr/share/solr/example/example-DIH/solr/solr.war"> 
    
    <Environment name="solr/home" 
        type="java.lang.String" 
        value="/usr/share/solr/example/example-DIH/solr" 
        override="true" />
        
</Context>
